@model iAssist.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "| Reset Password";
    ViewBag.Message = "Forgot Password";
}

<div id="layoutAuthentication" class="container py-5">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">@ViewBag.Message</h3></div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-floating mb-3">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.Email)
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <input type="submit" class="btn btn-primary" value="Email Link" />
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}