@model iAssist.Models.taskViewPost

@{
    ViewBag.Title = "ShowMyTaskPost";
}

<div class="container py-3">
    <h2>My Task history</h2>
    <hr />
    <div class="row">
        @using (Html.BeginForm("ShowMyTaskPost", "Task", FormMethod.Get))
        {
            <div class="py-2">
                <label>Filter by category:</label> <div class="py-1">@Html.DropDownList("Category", "All")</div>
                <div class="py-1">
                    <input type="submit" class="btn btn-primary" style="background-color: #e65c00; border:none; color:white;" value="Filter" />
                </div>
            </div>
        }
        @if (Model.Taskpostlistview.Any() == false)
        {
            <p>You don`t have any Posted / Requested Task</p>
        }
        @foreach (var item in Model.Taskpostlistview)
        {
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card mb-4 box-shadow">
                    @if (item.TaskImage != null)
                    {
                        <a href="@Url.Content("~/image/"+item.TaskImage)">
                            <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Url.Content("~/image/"+item.TaskImage)" alt="Thumbnail [100%x225]" />
                        </a>
                    }
                else { <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17cdf73f3a7%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17cdf73f3a7%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8203125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">}
                <div class="card-body">
                    @if (item.specificworkerid != null && item.specificworkerid != 0)
                    {
                        <i class="fas fa-user"></i>
                    }
                    @if (item.specificworkerid == null || item.specificworkerid == 0)
                    {
                        <i class="fas fa-users"></i>
                    }
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.taskdet_name)</h5>
                    @if (item.Taskbook_Status == 0)//0 means pending and the task can be edit
                    {
                        <h6 style="color:red;"><strong>Pending</strong></h6>
                    }
                    @if (item.Taskbook_Status == 1)//1 means Posted and can`t be edit
                    {
                        <h6 style="color:Orange;"><strong>Posted</strong></h6>
                    }
                    @if (item.Taskbook_Status == 2)//2 means ge sugdan na ang trabaho
                    {
                        <h6 class="text-warning"><strong>Ongoing</strong></h6>
                    }
                    @if (item.Taskbook_Status == 3)//3 if complete na ang task or mana
                    {
                        <h6 style="color:green;"><strong>Completed</strong></h6>
                    }
                    @if (item.Taskbook_Status == 4)// 4 if cancelled by the Creator of the task
                    {
                        <h6 style="color:green;"><strong>You cancelled this Task</strong></h6>
                    }
                    @if (item.Taskbook_Status == 5)// 4 if cancelled by the specific worker
                    {
                        <h6 style="color:Red;"><strong>The worker cancelled this Task</strong></h6>
                    }
                    @if (item.Taskbook_Status == 6)// 4 if cancelled by the specific worker
                    {
                        <h6 style="color:Red;"><strong>You cancelled the Worker Bid</strong></h6>
                    }
                    @if (item.taskedstatus != null)
                    {
                        if (item.taskedstatus == 1)
                        {
                            <p class="text-warning">Worker Status: Worker is ongoing</p>
                        }
                        if (item.taskedstatus == 2)
                        {
                            <p class="text-danger">Cancelled</p>
                        }
                        if (item.taskedstatus == 3)
                        {
                            <p class="text-danger">Worker is working the Task</p>
                        }
                        if (item.taskedstatus == 4)
                        {
                            <p class="text-danger">Worker is done</p>
                        }
                    }
                    <span class="job_post">@Html.DisplayFor(modelItem => item.Jobname)</span> <br />
                    <span class="job_post">Schedule: @Html.DisplayFor(modelItem => item.taskdet_sched) @Html.DisplayFor(modelItem => item.taskdet_time)</span>
                    <p>Address: @Html.DisplayFor(modelItem => item.Loc_Address)</p>
                    <p>Task Description: @Html.DisplayFor(modelItem => item.taskdet_desc)</p>
                    <p>Service Need:</p>
                    @foreach (var items in Model.TaskViewPost)
                    {
                        if (items.Taskdet == item.Id)
                        {
                            <span class="border border-info">@items.Skillname</span>
                        }
                        <text>&nbsp;</text>
                    }
                    @if (item.taskedTaskPayable != null && item.taskedTaskPayable != 0)
                    {
                        <p>Payable Amount: @Html.DisplayFor(modelItem => item.taskedTaskPayable)</p>
                    }
                    @if (item.taskedWorkerfname != null && item.taskedWorkerlname != null)
                    {
                        <p>Worker Name: @Html.DisplayFor(modelItem => item.taskedWorkerfname) @Html.DisplayFor(modelItem => item.taskedWorkerlname) </p>
                    }
                <div class="py-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            @if (item.Taskbook_Status == 0 || item.Taskbook_Status == 5)
                            {
                                <div class="ps-1">@Html.ActionLink("Post", "PostTheTask", new { id = item.Id }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                                <div class="ps-1">@Html.ActionLink("Find Worker", "FindWorkerList", "Home", new { id = item.Id }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                                <div class="ps-1">@Html.ActionLink("Edit", "EditMyPostTask", new { id = item.Id }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                            }
                            @if (item.Taskbook_Status == 1)
                            {
                                <div class="ps-1">@Html.ActionLink("View Bidding", "ViewBidding", "Bidded", new { id = item.Id, user = 1 }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                            }
                            @if (item.Taskbook_Status != 4 && item.Taskbook_Status != 3 && item.taskedstatus != 2 && item.taskedstatus != 3 && item.taskedstatus != 4) //taskedstatus 2 means working and 3 completed
                            {
                                <div class="ps-1">@Html.ActionLink("Cancel", "CancelMyPostTask", new { id = item.Id }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                            }
                            @if (item.taskedstatus == 4)
                            {
                                <div class="ps-1">@Html.ActionLink("Mark as Complete Task", "MarkasCompleteTask", new { id = item.Id }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                            }
                            @if (item.Tasktype == "" && item.taskedstatus == 5 || item.Tasktype == null && item.taskedstatus == 5)
                            {
                                <div class="ps-1">@Html.ActionLink("Rate and Feedback Worker", "CreateFeedbackAndRateWorker", "FeedBackAndRate", new { id = item.workerid, taskid = item.Id, jobid = item.jobid }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                                <div class="ps-1">@Html.ActionLink("Don`t Rate and Feedback", "DontRate", "FeedBackAndRate", new { id = item.workerid, taskid = item.Id, jobid = item.jobid }, new { @class="btn btn-default", @style="background-color: #e65c00; border:none; color:white;" })</div>
                            }
                        </div>
                    </div>
                </div>
                    
                </div>
                </div>
            </div>
        }
    </div>
</div>

