@model iAssist.Models.taskViewPost

@{
    ViewBag.Title = "ViewBiddedRequestTask";
}
<div class="container py-3">
    <h2>Bidded / RequestTask</h2>
    <hr />
    <div class="row">
        @using (Html.BeginForm("ViewBiddedRequestTask", "Task", FormMethod.Get))
        {
            <div class="py-2">
                <label>Filter by category:</label> <div class="py-1">@Html.DropDownList("Category", "All")</div>
                <div class="py-1">
                    <input type="submit" class="btn btn-primary" style="background-color: #e65c00; border:none; color:white;" value="Filter" />
                </div>
            </div>
        }
        @if (Model.Taskpostlistview.Any() == false)
        {
            <p>There is no Task Bidded </p>
        }
        @foreach (var item in Model.Taskpostlistview)
        {
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <div class="card box-shadow">
                        @if (item.TaskImage != null)
                        {
                            <a href="@Url.Content("~/image/"+item.TaskImage)">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Url.Content("~/image/"+item.TaskImage)" alt="Thumbnail [100%x225]" />
                            </a>
                        }
                        else
                        { <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17cdf73f3a7%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17cdf73f3a7%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8203125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">}
                        <div class="card-body">
                            @if (item.workerid != null)
                            {
                                <i class="fas fa-user"></i>
                            }
                            @if (item.workerid == null)
                            {
                                <i class="fas fa-users"></i>
                            }
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.taskdet_name)</h5>
                            @if (item.Taskbook_Status == 1 && item.workerid != null)//1 means Posted and can`t be edit
                            {
                                <h6 style="color:red;"><strong>Requested</strong></h6>
                            }@if (item.Taskbook_Status == 1 && item.workerid == null)//1 means Posted and can`t be edit
                            {
                                <h6 style="color:red;"><strong>Posted</strong></h6>
                            }
                            <span class="job_post">@Html.DisplayFor(modelItem => item.Jobname)</span> <br />
                            <span class="job_post">Schedule: @Html.DisplayFor(modelItem => item.taskdet_sched)</span>
                            <p>Address: @Html.DisplayFor(modelItem => item.Loc_Address)</p>
                            <p>Task Description: @Html.DisplayFor(modelItem => item.taskdet_desc)</p>
                            <p>Service Need:</p>
                            @foreach (var items in Model.TaskViewPost)
                            {
                                if (items.Taskdet == item.Id)
                                {
                                    <span class="border border-info">@items.Skillname</span>
                                }
                                <text>&nbsp;</text>
                            }
                            <p>Image: </p>
                            @if (item.TaskImage != null)
                            {
                                <a href="@Url.Content("~/image/"+item.TaskImage)">
                                    <img class="card-img-top" src="@Url.Content("~/image/"+item.TaskImage)" alt="Card image cap" />
                                </a>
                            }
                            <div style="margin-top: 20px;">
                                @Html.ActionLink("View my Bid details", "ViewBidding", "Bidded", new { id = item.Id, user = 2 }, new { @class = "btn btn-default", @style = "background-color: #e65c00; border:none; color:white;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>