@model iAssist.Models.taskViewPost

@{
    ViewBag.Title = "ViewBiddedRequestTask";
}
<div class="container py-3">
    <h2>Bidded / RequestTask</h2>
    <hr />
    <div class="row">
        @using (Html.BeginForm("ViewBiddedRequestTask", "Task", FormMethod.Get))
        {
            <div class="py-2">
                <label>Filter by category:</label> <div class="py-1">@Html.DropDownList("Category", "All")</div>
                <div class="py-1">
                    <input type="submit" class="btn btn-primary" style="background-color: #e65c00; border:none; color:white;" value="Filter" />
                </div>
            </div>
        }
        @if (Model.Taskpostlistview.Any() == false)
        {
            <p>There is no Task Bidded </p>
        }
        @foreach (var item in Model.Taskpostlistview)
        {
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h6>Files</h6>
                            @if (item.taskfiles.Any() == true)
                            {
                                foreach (var tf in item.taskfiles)
                                {
                                    <a href="@Url.Content("~/image/UploadedFiles/"+tf.TaskFileName)" target="_blank">@tf.TaskFileName</a><br />
                                }
                            }
                            else
                {
                    <p>No files Uploaded</p>
                }
                        </div>
                    <div class="card-body">
                        @if (item.workerid != null)
                        {
                            <i class="fas fa-user"></i>
                        }
                        @if (item.workerid == null)
                        {
                            <i class="fas fa-users"></i>
                        }
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.taskdet_name)</h5>
                        @if (item.Taskbook_Status == 1 && item.workerid != null)//1 means Posted and can`t be edit
                        {
                            <h6 style="color:red;"><strong>Requested</strong></h6>
                        }@if (item.Taskbook_Status == 1 && item.workerid == null)//1 means Posted and can`t be edit
                        {
                            <h6 style="color:red;"><strong>Posted</strong></h6>
                        }
                        <span class="job_post">@Html.DisplayFor(modelItem => item.Jobname)</span> <br />
                        <span class="job_post">Schedule: @Html.DisplayFor(modelItem => item.taskdet_sched)</span>
                        <p>Address: @Html.DisplayFor(modelItem => item.Loc_Address)</p>
                        <p>Task Description: @Html.DisplayFor(modelItem => item.taskdet_desc)</p>
                        <p>Budget/Price: @Html.DisplayFor(modelItem => item.budget)</p>
                        <p>Service Need:</p>
                        @foreach (var items in Model.TaskViewPost)
                        {
                            if (items.Taskdet == item.Id)
                            {
                                <span class="border border-info">@items.Skillname</span>
                            }
                            <text>&nbsp;</text>
                        }
                        <p>Image: </p>
                        @if (item.TaskImage != null)
                        {
                            <a href="@Url.Content("~/image/"+item.TaskImage)">
                                <img class="card-img-top" src="@Url.Content("~/image/"+item.TaskImage)" alt="Card image cap" />
                            </a>
                        }
                    <div style="margin-top: 20px;">
                        @Html.ActionLink("Add Another Bid", "CreateBidToTheTask", "Bidded", new { id = item.Id }, new { @class = "btn btn-default", @style = "background-color: #e65c00; border:none; color:white;" })
                        @Html.ActionLink("View my Bid details", "ViewBidding", "Bidded", new { id = item.Id, user = 2 }, new { @class = "btn btn-default", @style = "background-color: #e65c00; border:none; color:white;" })
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>