@model IEnumerable<iAssist.Models.SearchNearSkilledWorkerView>

@{
    ViewBag.Title = "FindWorkerList";
}

<style>
    a {
        color: #f96332;
    }

    .m-t-5 {
        margin-top: 5px;
    }

    .card {
        background: #fff;
        margin-bottom: 30px;
        transition: .5s;
        border: 0;
        border-radius: .1875rem;
        display: inline-block;
        position: relative;
        width: 100%;
        box-shadow: none;
    }

        .card .body {
            font-size: 14px;
            color: #424242;
            padding: 20px;
            font-weight: 400;
        }

    .profile-page .profile-header {
        position: relative
    }

        .profile-page .profile-header .profile-image img {
            border-radius: 50%;
            width: 140px;
            border: 3px solid #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }

        .profile-page .profile-header .social-icon a {
            margin: 0 5px
        }

    .profile-page .profile-sub-header {
        min-height: 60px;
        width: 100%
    }

        .profile-page .profile-sub-header ul.box-list {
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            background: #eee
        }

            .profile-page .profile-sub-header ul.box-list li {
                border-right: 1px solid #e0e0e0;
                display: table-cell;
                list-style: none
            }

                .profile-page .profile-sub-header ul.box-list li:last-child {
                    border-right: none
                }

                .profile-page .profile-sub-header ul.box-list li a {
                    display: block;
                    padding: 15px 0;
                    color: #424242
                }
</style>
<div class="container profile-page py-5">
    <div class="row">
        @using (Html.BeginForm("FindWorkerList", "Home", FormMethod.Get))
        {
            <div class="py-2">
                <label>Filter by category:</label> <div class="py-1">@Html.DropDownList("Category")</div>

                <div class="py-1">
                    <input type="submit" class="btn btn-primary" style="background-color: #e65c00; border:none; color:white;" value="Filter" />
                </div>
            </div>
        }
        @if (Model.Any() == false)
        {
            <p>There is no Worker Found</p>
        }
        @foreach (var item in Model)
        {
            <div class="col-xl-6 col-lg-7 col-md-12 d-flex align-items-stretch">
                <div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                @if (item.Profile == null)
                                {
                                    <div class="profile-image float-md-right"><img src="~/image/defaultprofilepic.jpg" /></div>
                                }
                                else
                                {
                                    <div class="profile-image float-md-right"> <img src="@Url.Content("~/image/"+item.Profile)" alt=""> </div>
                                }
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                @for (var c = 1; c < (int)item.Rate; c++)
                                {<i class="text-warning fa fa-star"></i>}
                                @for (var c = (int)item.Rate + 1; c <= 5; c++)
                                {<i class="text-warning far fa-star"></i>}
                                <h4 class="m-t-0 m-b-0"><strong>@Html.DisplayFor(modelItem => item.Firstname)</strong> @Html.DisplayFor(modelItem => item.Lastname) </h4>
                                <span class="job_post">@Html.DisplayFor(modelItem => item.Jobname)</span>
                                <p>@Html.DisplayFor(modelItem => item.nearaddress)</p>
                                <p>Distance: @Html.DisplayFor(modelItem => item.distance) meters</p>
                                <div>
                                    @if (User.Identity.Name != item.UserId)
                                    {
                                        <div class="py-3">
                                            @Html.ActionLink("Request Now", "FindWorkerRequestBooking", "Task", new { id = item.WorkerId, task = item.Taskdet }, new { @class = "btn btn-default", @style = "background-color: #e65c00; border:none; color:white;" })

                                        </div>
                                    }
                                    @Html.ActionLink("View Details", "ViewFindWorker", new { id = item.WorkerId, task = item.Taskdet }, new { @style = "text-decoration: none; color:white;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nearaddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jobname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>*@
        }
    </div>
</div>