@model iAssist.Models.SkilledWorkerFileImage

@{
    ViewBag.Title = "UploadWorkerFile";
}

<div class="container py-5">
    <h2>Upload Worker File</h2>

    @using (Html.BeginForm("UploadWorkerFile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Skilled Worker File Image</h4>
            <p>Please also upload picture taking yourself with ID.</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="file" id="file" class="form-control" />
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group py-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" style="background-color: #e65c00; border:none; color:white;" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "GetSkilledWorkerFile")
    </div>
</div>
