@model iAssist.Models.ReplenishBalance

@{
    ViewBag.Title = "Replenish";
    Model.Userid = ViewBag.Uid;
}


<div class="container py-3">
    <div class="card">
        <div class="card-header" style="background-color: #e65c00;">
            <h5 style="color:white;">Replenish Balance</h5>
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Userid, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 py-3">
                            <input type="submit" value="Replenish" class="btn btn-default" style="background-color: #e65c00; border:none; color:white;" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "ViewUsers")
            </div>
        </div>
    </div>
</div>
