@using iAssist.Models
@model dynamic
@{
    ViewBag.Title = "ViewDetailsSkilledWorker";
}

<div class="container py-3">
    <div class="card">
        <div class="card-header" style="background-color: #e65c00;">
            <h5 style="color:white;">SkilledWorker Details</h5>
        </div>
        <div class="card-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @if (Model.ViewDetailsRegSkilledWorker.ProfilePicture == null)
                        {
                            <img class="profile-photo" src="~/image/defaultprofilepic.jpg" style="height: 150px; width: 150px;" />
                        }
                        else
                        {
                            <img class="profile-photo" src="@Url.Content("~/image/"+Model.ViewDetailsRegSkilledWorker.ProfilePicture)" style="height: 150px; width: 150px;" />
                        }
                    </dt>
                    <dt>
                        Id
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.Id
                    </dd>

                    <dt>
                        Firstname
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.Firstname
                    </dd>

                    <dt>
                        LastName
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.Lastname
                    </dd>

                    <dt>
                        Phone Number
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.Phonenumber
                    </dd>

                    <dt>
                        Email Address
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.EmailAdd
                    </dd>

                    <dt>
                        Work Overview
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.workoverview
                    </dd>

                    <dt>
                        Job Name
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.JobName
                    </dd>

                    <dt>
                        Worker Status
                    </dt>

                    <dd>
                        @Model.ViewDetailsRegSkilledWorker.worker_status
                    </dd>
                </dl>
                <h4>Submitted Image Files</h4>
                @foreach (ViewFileRegSkilledWorker file in Model.ViewFileRegSkilledWorker)
                {
                    <a href="@Url.Content("~/image/RegisterSkilledFile/" +file.FileName)">@file.FileName</a><br />
                }
            </div>
            <br />
            <p>
                @Html.ActionLink("Accept", "AcceptRegistWorker", new { id = Model.ViewDetailsRegSkilledWorker.Id, jbid = Model.ViewDetailsRegSkilledWorker.JobId }) |
                @Html.ActionLink("Deny", "DenyRegistWorker", new { id = Model.ViewDetailsRegSkilledWorker.Id }) |
                @Html.ActionLink("Back to List", "ManageSkilledWorker")
            </p>

        </div>
    </div>
</div>
